.active-btn {
  background-color: #3B82F6;
  color: black;
}

/* .jobTitle{
    color: red;
} */

/* .job-type{
    color: red;
} */

/* .salary{
    color: red;
} */

/* .toggle-btn{
    color: red;
} */

/* .job-desk{
    color: red;
} */
/* 
.red-btn{
    color: purple;
} */


.interview-style {
    color: #22c55e;          /* green text */
    border-color: #22c55e;    /* green border */
}

.rejected-style {
    color: #ef4444;           /* red text */
    border-color: #ef4444;     /* red border */
}
