.active-btn {
  background-color: #3B82F6;
  color: black;
}

/* .job-title{
    color: red;
} */

/* .job-type{
    color: red;
} */

/* .salary{
    color: red;
} */

/* .toggle-btn{
    color: red;
} */

/* .job-desk{
    color: red;
} */