.active-btn {
  background-color: #3B82F6;
  color: black;
}
.interview-style {
    color: #22c55e;          /* green text */
    border-color: #22c55e;    /* green border */
}

.rejected-style {
    color: #ef4444;           /* red text */
    border-color: #ef4444;     /* red border */
}
