.active-btn {
  background-color: #3B82F6;
  color: black;
}
.interview-style {
    color: #22c55e;
    border-color: #22c55e;
}

.rejected-style {
    color: #ef4444;        
    border-color: #ef4444;   
}
